@import "antd/dist/antd.css";
* {
  box-sizing: border-box;
}

/* Layout */

.layout {
  opacity: 1;
  min-height: 100em;
  z-index: -2;
  background: linear-gradient(180deg, #0b1117 0%, #1c3775 100%) 0% 0% no-repeat
    padding-box;
}

/* Academic Training Main Content */

#atc-content {
  justify-content: center;
  align-items: center;
}

#atc-content .photo-carousel {
  height: 0;
}

#atc-content .photo-carousel img {
  filter: blur(2px);
  height: 900px;
  width: 100%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  object-fit: cover;
  object-position: 50% 50%;
  opacity: 0.9;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  transition: all 0.5s ease-out;
}

#atc-content .photo-carousel img:hover {
  filter: blur(0);
  object-position: 50% 50%;
  opacity: 1;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 0.5s ease-in;
}

.frame:hover .photo-carousel img {
  filter: blur(0);
}

.frame {
  height: 650px;
  border: 2px solid #ffffffab;
  border-radius: 50px;
  opacity: 0.9999;
  width: auto;
  margin-top: -30px;
  margin-bottom: 160px;
  display: block;
  margin-left: -20px;
  margin-right: -20px;
  z-index: 2;
  transition: 1s;
}

.frame #atc-logo {
  float: left;
  position: relative;
  width: 300px;
  margin: 0 20px;
  top: 320px;
  opacity: 1;
  transition: 1s;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.938));
}

.frame h1 {
  text-align: left;
  padding: 395px 80px;
  font: normal normal normal 98px/178px Abolition;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
  z-index: 6;
  transition: 1s;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.938));
}

.recent h2 {
  text-align: left;
  font: normal normal normal 25px/16px Abolition;
  letter-spacing: 2px;
  color: #ffffff;
  text-shadow: 2px 2px 10px #0a152d;
  text-transform: uppercase;
  opacity: 0.78;
}

.divider {
  background: linear-gradient(-90deg, #ffffffd0 0%, transparent 100%) 0% 0%
    no-repeat padding-box;
  height: 3px;
  width: 100%;
  border-radius: 50px;
  margin-bottom: 20px;
  float: right;
}

#atc-logo img {
  width: 100%;
}

.ant-list {
  width: 100%;
}

.video-content {
  display: flex;
}

.video-content .list-thumbnail {
  padding-right: 10px;
}

.video-content h2 {
  font: normal normal normal 16px/25px Open Sans;
  letter-spacing: 1px;
  color: #ffffff;
  opacity: 1;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.5em;
  max-height: 3em;
}

.video-content h3 {
  font: normal normal normal 13px/14px Open Sans;
  letter-spacing: 0;
  color: #ffffff;
  opacity: 0.4;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.5em;
  max-height: 3em;
}

.video-content h4 {
  text-align: left;
  font: bold normal normal 12px/16px Open Sans;
  letter-spacing: 0.2px;
  color: #ffffff;
  opacity: 0.4;
  text-overflow: ellipsis;
  overflow: hidden;
  text-transform: uppercase;
}

.video-card {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  min-height: 150px;
}

.video-card .card-content {
  width: 100%;
  padding: 20px 0 0 12px;
  margin-left: -8px;
  box-shadow: inset 0px 0px 80px transparent;
}

.play {
  width: 1em;
  color: #fff;
  font-size: 2.6em;
  opacity: 0.7;
  position: absolute;
  background-color: transparent;
  border: none;
  top: 10px;
  left: 20px;
  transition: 0.5s;
}

.video-card:hover .play {
  font-size: 3.8em;
  transition: 0.5s;
}

.video-card:hover {
  max-height: 10px;
  transition: 0.5s;
}

#thumbnail-box {
  box-shadow: inset 20px 0px 20px rgba(0, 0, 0, 0.747);
  padding: 10px;
  display: block;
  max-height: 600px;
  border-radius: 5px;
  border: none;
  margin-top: -25px;
}

#thumbnail-box img {
  margin-top: -35px;
  width: 100%;
  object-fit: cover;
  object-position: 20% 10%;
  -o-filter: blur(1px);
  -moz-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
  z-index: 2;
}

.ant-card-cover img {
  border-radius: 5px;
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 50% 10%;
  -o-filter: blur(1px);
  -moz-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: brightness(70%);
  background: linear-gradient(180deg, #0b1117 0%, #1c3775 100%) 0% 0% no-repeat
    padding-box;
  z-index: 2;
  transition: 0.5s;
}

.video-card:hover img {
  filter: brightness(100%);
  transition: all 0.5s;
}

.ant-card-hoverable:hover {
  border-color: transparent;
  box-shadow: none;
}

.responsive {
  padding: 15px 6px;
  width: 100%;
  margin-top: 50px;
}

.content-lists {
  padding: 15px 6px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  width: auto;
  max-width: 1400px;
  position: relative;
  top: -15px;
  transition: 2s;
}

.content-lists h1 a {
  color: #fff;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* Search results */

.container {
  background: transparent linear-gradient(0deg, #0b111787 0%, #1c3775 100%) 0%
    0% no-repeat padding-box;
  border-radius: 30px;
  opacity: 0.96;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  margin-bottom: 50px;
  min-width: 40px;
  width: 1000px;
  height: auto;
  padding: 80px 80px 70px;
  justify-content: center;
  align-content: center;
}

.container-content h1 {
  padding-bottom: 20px;
  font: normal normal normal 35px/40px Abolition;
  letter-spacing: 1px;
  color: #ffffff;
  opacity: 1;
}

.container-content h5 {
  float: right;
  padding-top: 3px;
  font: normal normal normal 26px/32px Abolition;
  text-align: center;
  letter-spacing: 1px;
  color: #ffffff;
  opacity: 0.5;
}

.list-content h3 {
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
}

.list-content h2 {
  padding: 0;
  margin: 0;
  text-overflow: ellipsis;
}

.ant-list {
  left: -10px;
  padding: 10px;
  margin: 0;
  transition: all 0.5s;
  border-radius: 10px;
}

.ant-list:hover {
  background: #0c183373;
  transition: all 0.5s;
}

.ant-list:hover img {
  transition: all 0.5s;
}

.ant-list img {
  border-radius: 5px;
  width: 180px;
  height: 100px;
  object-fit: cover;
  object-position: 50% 50%;
  transition: all 0.5s;
}

.ant-pagination {
  margin-top: 40px;
  position: relative;
  float: right;
}

.ant-pagination-item {
  background-color: #769fff50;
  border: none;
  font: normal normal normal 20px/28px Abolition;
}

.ant-pagination-item a {
  color: white;
  transition: all 0.3s;
}

.ant-pagination-item:hover a {
  color: white;
}

.ant-pagination-item-active {
  background: #8dafff7e;
  border: none;
}

.ant-pagination-item-active a {
  color: #ffffff;
}

.ant-pagination-item-active:focus-visible a,
.ant-pagination-item-active:hover a {
  color: #ffffff;
}

.ant-pagination-prev:focus-visible .ant-pagination-item-link,
.ant-pagination-next:focus-visible .ant-pagination-item-link,
.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link {
  color: white;
  background-color: #5267977e;
  border: none;
}

.ant-pagination-disabled .ant-pagination-item-link,
.ant-pagination-disabled:hover .ant-pagination-item-link,
.ant-pagination-disabled:focus-visible .ant-pagination-item-link {
  background-color: #8dafff2a;
  color: #0f15227e;
  border: none;
}

.ant-pagination-prev,
.ant-pagination-next,
.ant-pagination-jump-prev,
.ant-pagination-jump-next {
  color: #8dafff7e;
  border: none;
}

.ant-pagination-prev button,
.ant-pagination-next button {
  color: white;
}

.ant-pagination-prev:hover button,
.ant-pagination-next:hover button {
  border-color: #ffffff;
}

.ant-pagination.ant-pagination-disabled .ant-pagination-simple-pager {
  color: rgba(255, 255, 255, 0.25);
}

.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
  background-color: #4051797e;
  border: none;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector,
.ant-pagination-options,
.ant-pagination-options-size-changer.ant-select {
  font: normal normal normal 20px/28px Abolition;
  letter-spacing: 0.5px;
  background-color: #3745667e;
  border: none;
  color: rgba(255, 255, 255, 0.986);
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: #363636;
}

.ant-select-arrow {
  color: white;
}

.ant-select-dropdown {
  background-color: #405179;
  position: sticky;
}

.ant-select-item {
  font: normal normal normal 18px/28px Abolition;
  color: rgba(255, 255, 255, 0.986);
  background-color: #405179;
}

.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: #5d6c8f;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled)
  .ant-select-item-option-state {
  color: #ffffff;
}

.ant-pagination-item-ellipsis,
.anticon-double-right .ant-pagination-item-link-icon {
  color: #ffffff;
}

.ant-pagination-item {
  background-color: #769fff50;
  border: none;
  font: normal normal normal 20px/28px Abolition;
}

.ant-pagination-item a {
  color: white;
  transition: all 0.3s;
}

.ant-pagination-item:hover a {
  color: white;
}

.ant-pagination-item-active {
  background: #8dafff7e;
  border: none;
}

.ant-pagination-item-active a {
  color: #ffffff;
}

.ant-pagination-item-active:focus-visible a,
.ant-pagination-item-active:hover a {
  color: #ffffff;
}

.ant-pagination-prev:focus-visible .ant-pagination-item-link,
.ant-pagination-next:focus-visible .ant-pagination-item-link,
.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link {
  color: white;
  background-color: #5267977e;
  border: none;
}

.ant-pagination-disabled .ant-pagination-item-link,
.ant-pagination-disabled:hover .ant-pagination-item-link,
.ant-pagination-disabled:focus-visible .ant-pagination-item-link {
  background-color: #8dafff2a;
  color: #0f15227e;
  border: none;
}

.ant-pagination-prev,
.ant-pagination-next,
.ant-pagination-jump-prev,
.ant-pagination-jump-next {
  color: #8dafff7e;
  border: none;
}

.ant-pagination-prev button,
.ant-pagination-next button {
  color: white;
}

.ant-pagination-prev:hover button,
.ant-pagination-next:hover button {
  border-color: #ffffff;
}

.ant-pagination.ant-pagination-disabled .ant-pagination-simple-pager {
  color: rgba(255, 255, 255, 0.25);
}

.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link {
  background-color: #4051797e;
  border: none;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector,
.ant-pagination-options,
.ant-pagination-options-size-changer.ant-select {
  font: normal normal normal 20px/28px Abolition;
  letter-spacing: 0.5px;
  background-color: #3745667e;
  border: none;
  color: rgba(255, 255, 255, 0.986);
}

.ant-select:not(.ant-select-disabled):hover .ant-select-selector {
  border-color: #363636;
}

.ant-select-arrow {
  color: white;
}

.ant-select-dropdown {
  background-color: #405179;
  position: sticky;
}

.ant-select-item {
  font: normal normal normal 18px/28px Abolition;
  color: rgba(255, 255, 255, 0.986);
  background-color: #405179;
}

.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  background-color: #5d6c8f;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled)
  .ant-select-item-option-state {
  color: #ffffff;
}

.ant-pagination-item-ellipsis,
.anticon-double-right .ant-pagination-item-link-icon {
  color: #ffffff;
}

.ant-pagination-jump-next
  .ant-pagination-item-container
  .ant-pagination-item-link-icon,
.ant-pagination-jump-prev
  .ant-pagination-item-container
  .ant-pagination-item-link-icon {
  color: #ffffff;
}

.ant-pagination-jump-next
  .ant-pagination-item-container
  .ant-pagination-item-ellipsis,
.ant-pagination-jump-prev
  .ant-pagination-item-container
  .ant-pagination-item-ellipsis {
  color: #ffffff;
}

.empty {
  font: normal normal normal 32px/42px Abolition;
  color: #ffffff;
  opacity: 0.2;
  margin-left: auto;
  margin-right: auto;
}

/* Lecture Video page */

.video-box {
  min-height: 850px;
  padding: 50px 40px 20px;
  background: transparent linear-gradient(180deg, #0b111700 0%, #1c3775 100%) 0%
    0% no-repeat padding-box;
  opacity: 0.9999999;
  width: auto;
  max-width: 1300px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  border-radius: 0 0 50px 50px;
}

.video-window {
  max-height: 500px;
  margin: 0 auto;
  text-align: center;
}

iframe {
  margin: 0 auto;
  width: 1000px;
  height: 600px;
  border: none;
}

.video-box h2 {
  padding-top: 150px;
  text-align: left;
  font: normal normal bold 28px/17px Open Sans;
  color: #ffffff;
  max-width: 1000px;
  opacity: 1;
}

.video-box h3 {
  text-align: left;
  margin-top: -10px;
  font: normal normal normal 15px/43px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.52;
}

.video-box p {
  text-align: left;
  font: normal normal normal 14px/30px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  padding-top: 20px;
  max-width: 1000px;
}

.lecture-details a {
  text-align: left;
  text-decoration: underline;
  font: normal normal normal 14px/28px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.52;
}

.lecture-details h4 {
  text-align: left;
  margin-top: -5px;
  font: normal normal normal 14px/28px Open Sans;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.52;
}

/* About Us */

.member-card {
  top: 35px;
  background: transparent linear-gradient(180deg, #0b1117 0%, #1c3775 100%) 0%
    0% no-repeat padding-box;
  border: none;
  align-items: center;
  border-radius: 30px;
  width: 310px;
  padding-bottom: 40px;
  border-bottom: 10px outset #0b1117ad;
  -webkit-appearance: auto;
  -moz-appearance: auto;
  -o-appearance: auto;
  -ms-appearance: auto;
  transition: all 0.5s;
}

.member-card .ant-avatar {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  object-position: 50% 50%;
  border: 1px solid #ffffff;
  z-index: 2;
}

.member-card .grid-style {
  width: 100%;
  height: 150px;
  position: relative;
  bottom: 70px;
  box-shadow: inset 0px -80px 80px transparent;
  border-radius: 30px;
}

.member-card .member-content h2 {
  text-align: center;
  font: bold normal normal 16px/18px Open Sans;
  color: white;
  padding-top: 30px;
}

.member-card .member-content h3 {
  font: normal normal normal 20px/25px Open Sans;
  color: white;
  float: right;
  opacity: 0.7;
  padding-top: 70px;
  margin-left: -50px;
  right: 50px;
  z-index: -2;
}

.member-card .member-content p {
  text-align: center;
  font: normal normal normal 14px/18px Open Sans;
  color: white;
  z-index: 5;
}

.member-card:hover {
  top: 23px;
  transition: all 0.5s;
}

#about-us-content {
  justify-content: center;
  align-items: center;
  -webkit-appearance: auto;
  -moz-appearance: auto;
  -o-appearance: auto;
  -ms-appearance: auto;
  margin-bottom: 50px;
}

#about-us-content .photo-carousel {
  height: 0;
}

#about-us-content .photo-carousel img {
  filter: blur(3px);
  height: 850px;
  width: 100%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  object-fit: cover;
  object-position: 50% 50%;
  opacity: 0.7;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  transition: all 0.5s ease-out;
}

#about-us-content .photo-carousel img:hover {
  filter: blur(0);
  object-position: 50% 50%;
  opacity: 1;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 0.5s ease-in;
}

.atc-title h2 {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font: normal normal normal 52px/94px Abolition;
  letter-spacing: 0px;
  color: #dbe2e9;
  text-transform: uppercase;
}

.atc-title h3 {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font: normal normal normal 32px/52px Abolition;
  letter-spacing: 0px;
  color: #dbe2e9;
  text-transform: uppercase;
}

.our-mission h4 {
  font: normal normal normal 16px/22px Open Sans;
  color: rgb(255, 255, 255);
  padding: 40px;
}

/* Responsive resize */

@media only screen and (max-width: 1500px) {
  .content-lists {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .video-window iframe {
    width: 800px;
    height: 500px;
  }
  .video-box {
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 900px;
  }
  .video-box h2 {
    padding-top: 40px;
  }
  .frame {
    margin-left: 5px;
    margin-right: 5px;
    height: 600px;
    margin-bottom: 150px;
  }
  #atc-content .photo-carousel img {
    height: 800px;
  }
  .recent {
    margin-top: -20px;
  }
  #thumbnail-box img {
    height: 100px;
  }
  #thumbnail-box:after {
    height: 120px;
  }
  .video-card img {
    min-height: 200px;
  }
}

@media only screen and (max-width: 992px) {
  .content-lists {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .frame h1 {
    padding: 380px 80px;
    position: relative;
    margin-top: 50px;
    margin-left: 0;
    margin-right: 20px;
    font: normal normal normal 80px/90px Abolition;
  }
  .video-window iframe {
    width: 620px;
    height: 400px;
  }
  .video-box {
    padding-top: 0;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
  }
  .video-box h2 {
    padding-top: 30px;
  }
  .frame {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
  }
  #atc-content .photo-carousel img {
    height: 800px;
  }
  #thumbnail-box img {
    height: 100px;
  }
  #thumbnail-box:after {
    height: 120px;
  }
  .video-card img {
    min-height: 250px;
  }
  .container {
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 100px;
    width: auto;
    height: auto;
    padding: 40px;
  }
}

@media only screen and (max-width: 768px) {
  .video-window iframe {
    margin-left: auto;
    margin-right: auto;
    width: 460px;
    height: 220px;
  }
  .frame h1 {
    padding: 280px 80px;
    position: relative;
    margin-left: 0;
    margin-right: 10px;
    font: normal normal normal 50px/90px Abolition;
  }
  .video-box {
    padding-top: 0;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 550px;
  }
  .video-box h2 {
    padding-top: 30px;
  }
  .frame #atc-logo {
    top: 280px;
    width: 30%;
  }
  .frame {
    margin-left: 0;
    margin-right: 0;
    height: 450px;
    margin-bottom: 250px;
  }
  #atc-content .photo-carousel img {
    height: 680px;
  }
  .container {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 100px;
    width: auto;
    height: auto;
    padding: 40px;
  }
  .container-content h1 {
    padding-bottom: 10px;
  }
  .list-content h4 {
    padding-top: 15px;
  }
  .pagination {
    top: -20px;
  }
  .recent {
    margin-top: -100px;
  }
  #thumbnail-box img {
    height: 80px;
  }
  #thumbnail-box:after {
    height: 100px;
  }
  .video-card img {
    min-height: 300px;
  }
  .video-content {
    display: inline-table;
  }
}

@media only screen and (max-width: 576px) {
  .video-window iframe {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 220px;
  }
  .frame h1 {
    padding: 260px 50px;
    position: relative;
    margin-left: 0;
    margin-right: 10px;
    font: normal normal normal 50px/90px Abolition;
  }
  .video-box {
    padding-top: 0;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
  }
  .video-box h2 {
    padding-top: 20px;
  }
  .frame #atc-logo {
    top: 260px;
    width: 32%;
  }
  .frame {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 190px;
    height: 500px;
  }
  #atc-content .photo-carousel img {
    height: 680px;
  }
  .container {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 100px;
    width: auto;
    height: auto;
    padding: 40px;
  }
  .container-content h1 {
    padding-bottom: 0;
  }
  .container-content h5 {
    padding-bottom: 10px;
    font-size: 22px;
    float: left;
  }
  .pagination {
    top: -20px;
  }
  #thumbnail-box img {
    height: 40px;
  }
  #thumbnail-box:after {
    height: 80px;
  }
  .video-card img {
    min-height: 250px;
  }
}

@media only screen and (max-width: 480px) {
  .frame #atc-logo {
    top: 320px;
    left: -30px;
    width: 40%;
  }
  .frame {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 80px;
    height: 500px;
  }
  .video-box {
    padding-top: 0;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }
  .video-box h2 {
    padding-top: 20px;
  }
  .frame h1 {
    padding: 320px 30px;
    position: relative;
    margin-left: 0;
    margin-right: 10px;
    font: normal normal normal 50px/90px Abolition;
  }
  .recent {
    margin-top: 10px;
  }
  .video-card img {
    min-height: 250px;
  }
}

@media only screen and (max-width: 414px) {
  .frame #atc-logo {
    top: 460px;
    left: -20px;
    width: 45%;
    height: 85%;
  }
  .frame h1 {
    padding: 10px;
    position: relative;
    display: inline-block;
    top: -60px;
    margin-left: 20px;
    margin-right: 20px;
    font: normal normal normal 40px/50px Abolition;
  }
  .frame {
    margin-left: 10px;
    margin-right: 10px;
    height: 620px;
    margin-bottom: 130px;
    border: 1px solid #ffffffab;
    border-radius: 50px;
  }
  .video-box {
    padding-top: 0;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }
  .video-box h2 {
    padding-top: 20px;
  }
  #atc-content .photo-carousel img {
    height: 800px;
  }
  .recent {
    margin-top: -20px;
  }
  .video-card img {
    min-height: 200px;
  }
}

@media only screen and (max-width: 375px) {
  .video-window {
    margin-top: 0;
    margin-left: 0;
  }
  .video-window iframe {
    width: auto;
    height: 180px;
  }
  .video-box {
    height: auto;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
  }
  .video-box h2 {
    padding-top: 20px;
  }
  .frame #atc-logo {
    top: 380px;
    left: -30px;
    width: 45%;
    height: 78%;
  }
  .frame h1 {
    position: relative;
    top: -60px;
    margin-left: 15px;
    margin-right: 10px;
    font: normal normal normal 40px/80px Abolition;
  }
  .frame {
    margin-left: 10px;
    margin-right: 10px;
    height: 550px;
    margin-bottom: 0;
    border: 1px solid #ffffffab;
    border-radius: 50px;
  }
  #atc-content .photo-carousel img {
    height: 700px;
  }
  #about-us-content .photo-carousel img {
    height: 680px;
  }
  .atc-title {
    margin-top: 50px;
  }
  .recent {
    margin-top: 100px;
  }
  .pagination {
    width: 80%;
    top: -40px;
  }
  .container {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 100px;
    width: auto;
    height: auto;
    padding: 40px;
  }
  .video-content h2 {
    font: italic normal normal 18px/25px Open Sans;
  }
  .video-content p {
    font: italic normal normal 14px/16px Open Sans;
  }
  .video-card img {
    min-height: 150px;
  }
}
