interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://indico.cern.ch/export/event/1085621.json
    response:
      body:
        string:
          '{"results":[{"_type":"Conference","id":"1085621","title":"Your privacy
          \u2013 where has it gone, and will it be back?","description":"<p class=\"part\"><span><span>In
          recent years, a lot has been said about privacy \u2013 the rights to it, related
          transgressions, reasons to worry. It seems like questions are multiplying
          at a high rate, but the answers are not. Should we be concerned, and if so,
          about what? Should I defend myself, can I defend myself? From whom? Are we
          risking fundamental freedoms when using FAANG products? Is privacy the same
          as anonymity? Is giving up privacy a necessary co[...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://indico.cern.ch/export/event/1085621.json
    response:
      body:
        string:
          '{"count":1,"ts":1654264336,"results":[{"_type":"Conference","id":"1085621","title":"Your
          privacy \u2013 where has it gone, and will it be back?","description":"<p
          class=\"part\"><span><span>In recent years, a lot has been said about privacy
          \u2013 the rights to it, related transgressions, reasons to worry. It seems
          like questions are multiplying at a high rate, but the answers are not. Should
          we be concerned, and if so, about what? Should I defend myself, can I [...]
  - request:
      body: null
      headers:
      method: GET
      uri: https://indico.cern.ch/export/event/1085621.json
    response:
      body:
        string:
          '{"count":1,"additionalInfo":{},"url":"https:\/\/indico.cern.ch\/export\/event\/1085621.json","ts":1654264336,"results":[{"_type":"Conference","id":"1085621","title":"Your
          privacy \u2013 where has it gone, and will it be back?","description":"<p
          class=\"part\"><span><span>In recent years, a lot has been said about privacy
          \u2013 the rights to it, related transgressions, reasons to worry. It seems
          like questions are multiplying at a high rate, but the answers are not. Should
          we be con[...]
[...]
