interactions:
  - request:
      body: null
      headers:
      method: GET
      uri: https://indico.cern.ch/export/event/1052073.json
    response:
      body:
        string:
          '{"results":[{"_type":"Conference","id":"1052073","title":"REMOTE -
          Distributed computing - A historical perspective - The Network(s)","description":"<p
          class=\"MsoPlainText\"><strong>NB!! Internet father <a href=\"https:\/\/internethalloffame.org\/inductees\/vint-cerf\">Vint
          Cerf<\/a> and Web inventor <a href=\"https:\/\/www.w3.org\/People\/Berners-Lee\/\">Sir
          Tim Berners-Lee<\/a> will honour us with their presence!<\/strong><\/p>\r\n\r\n<p
          class=\"MsoPlainText\"><span><span><strong>This lecture:<\/strong><\/span><\/span><\/p>\r\n\r\n<p
          class=\"moz-quote-pre\">How trying to solve a straightforward problem - sharing
          computer data at CERN in the 1980\u2019s - involved us unexpectedly with economic,
          political and social issues. A study of disruption at CERN and beyond.<\/p>\r\n\r\n<p
          class=\"moz-quote-pre\"><strong>This series:<\/strong><\/p>\r\n\r\n<p class=\"MsoPlainText\"><span><span>After
          the ARPANET (Advanced[...]
