/* Academic Training Header */

@import "antd/dist/antd.css";
#atc-header .header {
  width: 100%;
  padding-top: 60px;
}

#atc-header {
  margin-top: -26px;
  z-index: 1;
  width: 100%;
}

.ant-layout-header {
  left: 0;
  right: 0;
  z-index: 999;
}

#atc-header h1 {
  padding-top: 30px;
  padding-left: 60px;
  text-align: left;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.877));
}

#atc-header h1 a {
  color: #fff;
  z-index: 3;
  font: normal normal normal 32px/33px Abolition;
}

#atc-header h2 {
  padding-top: 40px;
  color: #fff;
  font: normal normal normal 25px/28px Abolition;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.877));
}

.search-input {
  color: #fff;
  font: normal normal normal 14px/28px Open Sans;
  bottom: 12px;
}

#atc-header .ant-menu > .search-icon {
  position: relative;
  left: 20px;
  top: 40px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.877));
}

#atc-header .ant-menu > .search-box {
  position: relative;
  width: 40px;
  height: 40px;
  left: 60px;
  top: 35px;
  background: transparent;
  border-radius: 10px;
  transition: 0.5s;
  font-style: #fff;
  background-color: transparent;
  z-index: 1;
  border: 1px solid rgba(255, 255, 255, 0);
}

#atc-header .ant-menu {
  padding-right: 60px;
  width: 100%;
  background-color: transparent;
  border: none;
  height: auto;
  cursor: pointer;
  display: block;
}

#atc-header .ant-menu-item {
  list-style: none;
  float: right !important;
  position: relative;
}

#atc-header .ant-menu > .ant-menu-item::after {
  border: none !important;
}

.menu-mobile {
  visibility: hidden;
}

#atc-header .ant-menu > .search-box:hover {
  left: 60px;
  width: 280px;
  transition: all 0.5s;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.253);
  border: 1px solid rgba(255, 255, 255, 0.144);
  visibility: visible;
}

.ant-drawer-body {
  background: linear-gradient(180deg, #0f1d3d 0%, #0b1117 100%) 0% 0% no-repeat
    padding-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive resize */

@media only screen and (max-width: 1500px) {
  .menu-mobile {
    visibility: visible;
    top: 27px;
    float: right;
    right: 60px;
  }
  .ant-drawer-body .ant-menu {
    padding-right: 0;
    overflow: hidden;
    flex-direction: column;
    border: none;
    background: transparent;
    transition: all 0.5s;
  }
  .ant-drawer-body .ant-menu-item {
    height: auto;
    text-align: center;
    margin: 0;
    border: none;
    line-height: 100px;
  }
  .ant-drawer-body .ant-menu-item h2 {
    font: normal normal normal 36px/42px Abolition;
    color: #fff;
    opacity: 0.6;
  }
  .search-input {
    font: normal normal normal 36px/42px Abolition;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.877));
    opacity: 0.7;
  }
  .ant-drawer-body .ant-menu-item:hover {
    border: none;
    text-decoration: transparent;
    color: #fff;
  }
  .ant-drawer-body .search-icon {
    top: 85px;
    left: 120px;
    opacity: 0.8;
  }
  .ant-drawer-body .search-box {
    width: auto;
  }
  .ant-drawer-body .search-text {
    visibility: hidden;
  }
}

@media only screen and (max-width: 768px) {
  .menu-mobile {
    top: -68px;
    right: 0;
  }
  #atc-header h1 {
    padding-left: 0;
  }
}
