/* Academic Training Header */

@import "antd/dist/antd.css";
#atc-header .header {
  width: 100%;
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
  /* background: linear-gradient(0deg, transparent 0%, #0b1117 100%) 0% 0% no-repeat padding-box; */
}

#atc-header {
  margin-top: -26px;
  z-index: 1;
  width: 100%;
}

.ant-layout-header {
  left: 0;
  right: 0;
  z-index: 999;
}

#atc-header h1 {
  padding-top: 30px;
  text-align: left;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
}

#atc-header h1 a {
  color: #fff;
  z-index: 3;
  font: normal normal normal 32px/33px Abolition;
}

#atc-header h2 {
  color: #fff;
  font: normal normal normal 25px/28px Abolition;
}

.ant-menu {
  width: 100%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
  margin-top: -55px;
}

.ant-menu-item {
  list-style: none;
  float: right !important;
  position: relative;
}

.ant-menu > .ant-menu-item::after {
  border: none !important;
}

.ant-menu > .search-box {
  position: relative;
  width: 40px;
  height: 40px;
  top: -5px;
  background: transparent;
  border-radius: 10px;
  transition: 0.5s;
  font-style: #fff;
  background-color: transparent;
  z-index: 1;
  border: 1px solid rgba(255, 255, 255, 0);
}

.search-input {
  color: #fff;
  font: normal normal normal 14px/28px Open Sans;
  bottom: 12px;
}

.ant-menu > .search-icon {
  position: relative;
  float: right;
  left: -40px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ant-menu > .search-box:hover {
  width: 330px;
  transition: all 0.5s;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.253);
  border: 1px solid rgba(255, 255, 255, 0.144);
  visibility: visible;
}

/* Responsive resize */

@media only screen and (max-width: 768px) {
  .search-box:hover {
    width: 200px;
  }
  #atc-header h1 {
    margin-left: -40px;
  }
  .search-input {
    color: #fff;
    font: normal normal normal 17px/28px Open Sans;
  }
}

@media only screen and (max-width: 375px) {
  #atc-header h1 {
    margin-left: -70px;
  }
  #atc-header .ant-list {
    right: -80px;
  }
}
